* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --red-color: #8C3830;
    --pink-color: #E1B1A3;
    --lightGray-color: #F4F3EE;
    --gray-color: #D0CDC8;
    --brown-color: #433C38;
    --black-color: #151313;
    --white-color: #FFF;

    --font-header: "Ranchers", sans-serif;
    --font-normal: "Ubuntu", sans-serif;
    --font-hero: "Ranchers", sans-serif;

    
    --weight-normal: 500;
    --weight-bold: 600;
    --weight-bolder:700;

    --title-size: 2.5rem;
    --heading-size: 2.25rem;
    --aboveNormal-size: 1.15rem;
    --normal-size: 1rem;
    --small-size: 0.75rem;
    --smaller-size: 0.5rem;
}



body {
    font-family: var(--font-normal);
    font-weight: var(--weight-normal);
    font-size: var(--normal-size);
}

/*###################
    HEADER
######################*/
.nav-title {
    font-family: var(--font-header);
    font-size: var(--title-size);
    font-weight: var(--weight-bolder);
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    padding-top: 0.5em;

    color: var(--lightGray-color);
}

.nav {
    position: fixed;
    top: 0;
    left: 50%;  
    transform: translate(-50%, 0);
    z-index: 1030;
}

.nav {
    background: var(--red-color);
    border-radius: 35px;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.5em;
    width: 90%;
}



.nav-links-list {
    list-style: none;
    font-weight: var(--weight-bolder);
    padding-bottom: 0.75em;
}
.nav-links-list a {
    color: var(--lightGray-color);
    text-decoration: none;
}
.nav-links-list li {
    margin-bottom: 0.5em;
}
.nav-links-list a:hover {
    color: var(--pink-color);
    text-decoration: underline;
}
/*###################
    HERO
######################*/
 .hero {
    margin: 0 auto;
    margin-top: 11em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
 }
 .hero-img {
    grid-column: 1/4;
    grid-row: 1/4;

    align-self: center;
    justify-self: center;

    opacity: .30;
 }
.hero-img img {
    width: 800px;
}

.hero-text {
    grid-column: 1/4;
    grid-row: 1/4;

    text-align: center;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);

    z-index: 1;

}

.hero-text-title {
    grid-column: 1/4;
    grid-row: 1/3;

    font-size: 3.25rem;
    font-family: var(--font-hero);
    font-weight: var(--weight-bolder);
    color: var(--brown-color);
    
    line-height: 0.95;
    margin-bottom: 0.25em;

    align-self: center;
    justify-self: center;

}
.hero-text-subtitle {
    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;

    font-family: var(--font-hero);
    font-weight: var(--weight-bold);
    letter-spacing: 1.25px;
    font-size: var(--aboveNormal-size);
    color: var(--brown-color);

    margin-top: 1.25em;
}
.hero-text-btn {
    grid-column: 1/4;
    grid-row: 2/4;
    justify-self: center;
    align-self: center;

    background: var(--red-color);
    color: var(--white-color);
    padding: 0.75em 3em;
    margin-top: 0.5em;
    border-radius: 15px;
    text-decoration: none;

    font-weight: var(--weight-bold);
}
.hero-text-btn:hover {
    color: var(--white-color);
    background: var(--gray-color);
}


/*###################
    FEATURED SECTION
######################*/

.featured-section {
    background: var(--gray-color);
    text-align: center;
    color: var(--brown-color);
    padding: 1.25em;
}
.featured-title {
    font-family: var(--font-header);
    font-size: var(--heading-size);
}
.featured-card {
    margin-top: 1.25em;
}
.featured-card-img img {
    border: 3px solid var(--brown-color);
    border-radius: 15px;
    width: 200px;
}
.featured-card-text {
    font-weight: var(--weight-bold);
}
.featured-card-img img:hover {
    border: 3px solid var(--red-color);
    opacity: 75%;
}

/*###################
    MAIN SECTION
######################*/

.hide-mobile.main-item-card {
    display: none;
}

.main-section {
    padding: 1em;
    padding-top: 2em;
}
.main-group-text {
    color: var(--brown-color);
    font-family: var(--font-header);
    font-size: var(--heading-size);
    text-align: center;
    margin-bottom: 0.5em;
}

.main-group-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-item-card {
    display: flex;
    flex-direction: column;

    text-align: center;

    width: 135px;
    margin: 0 1em;
    margin-bottom: 1.5em;
}

.main-item-card img {
    width: 115px;
    margin-bottom: 1em;
    margin: 0 auto;
    padding: 0.25em;

    border-radius: 15px;
    border: 3px solid var(--brown-color);
}

.main-item-card img {
    background-image: url('../assets/featured-item-1.PNG') ;
}

.main-item-card img:hover {
    opacity: 0.75;
    background: var(--gray-color);
    border: 3px solid var(--red-color);
    cursor: pointer;
}

.item-card-name {
    font-weight: var(--weight-bolder);
    font-size: var(--aboveNormal-size);
    color: var(--red-color);
    border-radius: 15px;
    margin: 0.25em 0;
}
.item-card-price {
    font-weight: var(--weight-bold);
    color: var(--brown-color);
}

.main-group-btn-mobile {
    background-color: var(--red-color);
    padding: 0.5em 2em;
    color: var(--white-color);
    border-radius: 15px;
    text-decoration: none;

    font-size: var(--aboveNormal-size);
    margin-bottom: 2em;
}




/*###################
    QUOTE SECTION
######################*/
.quote-section {
    background: var(--pink-color);
    font-weight: var(--weight-bold);
    color: var(--brown-color);
    padding: 1em 2em;
    text-align: center;
}

/*###################
    BIG TICKET SECTION
######################*/
.bigTicket-section {
    background: var(--red-color);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

 .bigTicket-img {
    grid-column: 3/5;
    grid-row: 1/5;

    background: var(--red-color);
    text-align: center;
    padding: 3em 0;
}


.bigTicket-img img {
    border-radius: 50%;
    border: 5px solid var(--pink-color);
    /* width: 300px; */
    width: 175px;

}

.bigTicket-text {
    color: var(--white-color);
    font-weight: var(--weight-bold);

    grid-column: 1/3;
    grid-row: 1/5;

    text-align: center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

    margin-left: 0.5em;
    margin-top: 0.5em;
}


.bigTicket-text-title {
    grid-column: 1/3;
    grid-row: 1/3;
    align-self: start;
    margin-top: 0.25em;
    margin-bottom: 0.25em;

    font-family: var(--font-header);
    font-size: var(--heading-size);
}
.bigTicket-text-price {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: end;
    justify-self: center;
    margin-bottom: 0.5em;

    font-weight: var(--weight-normal);
} 
.bigTicket-text-subtitle {
    grid-column: 1/3;
    grid-row: 2/4;
    align-self: end;
    margin-bottom: 0.5em;
}

.bigTicket-text-btn {
    grid-column: 1/3;
    grid-row: 3/5;
    align-self: center;
    justify-self: center;

    background: var(--pink-color);
    color: var(--red-color);
    padding: 0.5em 2em;
    border-radius: 15px;
    text-decoration: none;

    margin-top: 3em;

    font-weight: 700;
}
.bigTicket-text-btn:hover {
    color: var(--white-color);
    background: var(--gray-color);
}

/*###################
    FOOTER
######################*/
.footer {
    display: flex;
    justify-content: space-between;
    padding: 1em 2.5em;
    background: var(--gray-color);
    font-size: var(--small-size);
    font-weight: var(--weight-bolder);
    color: var(--red-color);

    margin-bottom: 1em;
}


@media (max-width:549px) {
    /*prevents horizontal scrolling on moble*/
    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative
    }
    /*#################################*/
}

@media (min-width:550px) {
    /*###################
        HEADER
    ######################*/
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 97%;
        border-radius: 30px;

    }
    .nav-title {
        margin-top: 0;
        margin-bottom: 0.15em;
        padding-top: 0;
        margin-left: 1.5em;
        letter-spacing: 1px;
        font-size: var(--heading-size);
    }
    .nav-links-list {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 2em;
        padding-bottom: 0;

        list-style-type: none;
    }
    .nav-links-list li {
        margin-bottom: 0;
        margin-left: 1em;
    }

    /*###################
        HERO
    ######################*/

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 6em;

        padding: 1.5em;
    }
    .hero-img  {
        opacity: 1;
        z-index: 0;
        margin-right: 3em;
    }
    .hero-img img {
        margin-left: 5em;
        max-width: 90%;
    }
    .hero-text {
        min-width: 45%;
        margin-right: 5em;
        z-index: 0;
        display: block;
    }
    .hero-text-subtitle {
        margin-bottom: 1.5em;
    }

    /*###################
        FEATURED SECTION
    ######################*/
    .featured-section {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;

        align-items: center;
        justify-content: space-evenly;

        min-width: 80%;
    }
    .featured-card-img img {
        width: 150px;
    }
    .featured-card-text {
        margin-left: 1em;
    }
    .featured-card {
        margin-left: 0;
        margin-right: 1em;
        width: 200px;
        /* background-color: #c78c69; */
    }

    /*###################
        MAIN SECTION
    ######################*/
    .main-group-btn-mobile {
        display: none;
    }
    .hide-mobile.main-item-card {
        display: block;
    }

    .main-group-text {
        text-align: left;
        padding: 0 1em;
        text-decoration: underline;
    }

    /*###################
        QUOTE SECTION
    ######################*/


    /*###################
        BIG TICKET SECTION
    ######################*/
    .bigTicket-section {
        display: flex;
        flex-direction: row-reverse;
    }
     .bigTicket-section {
        background: white;
    }
     .bigTicket-img {
        padding: 2em 0;
        width: 50%;
    }
    .bigTicket-img img {
        width: 275px;
    }
    
    
    .bigTicket-text {
        color: var(--brown-color);
        font-weight: var(--weight-bold);

        width: 45%;
        display: block;
    
        margin-left: 0;
        margin-top: 0;
        margin: 3em 2em;
    }
    .bigTicket-text-title {
        text-align: center;
        font-size: 4rem;

        margin-top: 0;
        margin-bottom: 0.25em;
    }
    .bigTicket-text-price {
        margin-bottom: 0;
        margin-top:0.5em;
        font-size: var(--aboveNormal-size);

    
    } 
    .bigTicket-text-subtitle {
        margin-bottom: 0;
        margin: 1em auto;
        width: 60%;
        font-size: var(--aboveNormal-size);
    }
    
    .bigTicket-text-btn {
        background: var(--pink-color);
        color: var(--red-color);
        padding: 0.5em 2em;
        border-radius: 15px;
        text-decoration: none;
    
        margin-top: 0;
        margin-top: 1em;
    }
    .bigTicket-text-btn:hover {
        color: var(--white-color);
        background: var(--gray-color);
    } 

    /*###################
        FOOTER
    ######################*/


}